body{
    
}
#video-grid{
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
 }

#roomname {
    /* Add your styles for the roomname div here */


}
#container{
    width: 100%;
    height: 700px;
}

#editor {
    /* Add your styles for the editor textarea here */
    background-color: black;
    color: white;
}
#text-area-div{
    /* Add your styles for the text-area-div div here */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

