@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jersey+10&display=swap');
/* add variables*/
:root{
    --primary-color: #B706BF;
    --secondary-color: #0F0238;
   
}
body{
    background-color: #0F0238;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
    font-style: normal;
    overflow-x: hidden;
}
#video-grid{
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2px;
 }
#video-grid video{
    /* Add your styles for the video elements here */
  
    border-radius: 10px;
    box-shadow: 0 0 10px #B706BF;
}

textarea{
    /* add shadow to the textarea */
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #0F0238;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size:larger;
}
#container{
    width: 100%;
    height: 700px;
}

#editor {
    /* Add your styles for the editor textarea here */
    background-color: black;
    color: white;
}
#text-area-div{
    /* Add your styles for the text-area-div div here */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#switch-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-top: 5px;
    
    width: 100%;
    color : white;
}
#switch{
    display:  flex;
    justify-content: space-around;
    background-color: #0F0238;
    border-radius: 5px;
    box-shadow:  0 0 40px #B706BF;
    gap: 5px;
    font-weight: 400;
    
  }
  #switch > div{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  canvas{
    background-color: rgb(25, 3, 94);
    display: none;
    resize: both;
    overflow: auto;
  }
  #clear{
    background-color: #B706BF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
  }




